--index-url https://pypi.org/simple
numpy==1.23.5
Django==4.2
django-import-export==4.1.1
Pillow==10.2.0
pyyaml==6.0
tobii-research==2.1.0
tzdata
optuna==4.1.0
opencv-contrib-python-headless==4.5.5.64